$button-color: #eb2f06;
$symbol-color: #f1f2f6;
$hand-on-hover: pointer;

#up-button {
  width: 100px;
  height: 100px;
  display: none;
  position: fixed;
  bottom:50px;
  right: 50px;
  border: none;
  border-radius: 60%;
  background-color: $button-color;
  padding: 20px;
  justify-content: center;
  align-items: center;
  cursor: $hand-on-hover;
}

.fa-angle-double-up {
  font-size: 35px;
  color: $symbol-color;
}