#up-button {
  width: 100px;
  height: 100px;
  display: none;
  position: fixed;
  bottom: 50px;
  right: 50px;
  border: none;
  border-radius: 60%;
  background-color: #eb2f06;
  padding: 20px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.fa-angle-double-up {
  font-size: 35px;
  color: #f1f2f6;
}
