.container {
  display: flex;
}

.new-tweet {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.new-tweet > form {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#tweet-text {
  outline: none;
  resize: none;
  background-color: #f4f1ec;
  border: none;
  border-bottom: 2px solid black;
  width: 40rem;
  height: 2rem;
  font-weight: 600;
}

.tweet-submit {
  width: 40rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#tweet-button {
  font-family: "Bungee", cursive;
  background-color: #54a0ff;
  color: #f4f1ec;
  border-radius: 5px;
  border-style: hidden;
  cursor: pointer;
}

#counter {
  color: black;
  font-family: "Bungee", cursive;
}

.err-msg {
  display: none;
  color: #ff6b81;
  border-style: solid;
  border-radius: 3px;
  border-width: 3px;
}
